[submodule "ThirdParty/raylib"]
	path = ThirdParty/raylib
	url = https://github.com/raysan5/raylib.git
[submodule "ThirdParty/raygui"]
	path = ThirdParty/raygui
	url = https://github.com/raysan5/raygui.git
